<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="text-center">
        <h2>Discount Details</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th>Title:</th>
                <td><%= @discount_view.name %></td>
              </tr>
              <tr>
                <th>Value:</th>
                <td><%= @discount_view.value %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
