<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="text-center">
        <h2>Category Details</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th>ID:</th>
                <td><%= @category_view.id %></td>
              </tr>
              <tr>
                <th>Name:</th>
                <td><%= @category_view.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>




